.section__main {
  background-color: #eceded;
}

.container {
  display: flex;
  justify-content: space-between;
}

.transactions {
  width: 570px;
}

.controls {
  width: 235px;
}

.sort {
  cursor: pointer;
  margin-top: -5px;
  margin-left: 15px;
  margin-bottom: 12px;
  display: inline-flex;
  align-items: center;
  gap: 8.5px;
  &__title {
    font-size: 18px;
  }
}

.dark-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
