<div class="subscription">
  <div class="subscription__info">
    <div class="subscription__info__category">
      <h2 class="subscription__info__category__title">TV-Show</h2>
    </div>
    <div class="subscription__info__details">
      <h3 class="subscription__info__details__title">Netflix</h3>
      <div class="subscription__info__details__box">
        <p class="subscription__info__details__box__description">
          Next payment date is: <strong>16.03.2022</strong>
        </p>
      </div>
    </div>
    <p class="subscription__info__amount">-11.85$</p>
  </div>
</div>
