.add__button__container {
  position: fixed;
  bottom: 0;
  left: 0;
  background: url("../../../../assets/cardbgreal.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 75px;
  height: 55px;
  display: flex;
  justify-content: center;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  cursor: pointer;
  .add__button {
    font-size: 40px;
    color: #fff;
    cursor: inherit;
  }
}
