@use "src/variables" as var;

.transaction {
  background-color: #f9f9f9;
  border-radius: 10px;
  position: relative;
  margin-bottom: 27px;
  &__info {
    padding: 13px 15px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    &__amount {
      position: absolute;
      top: 15px;
      right: 15px;
      font-size: 22px;
      color: var.$expense;
    }
    &__category {
      background-color: var.$background;
      width: 170px;
      height: 67px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 10px;
      margin-right: 18px;
      &__title {
        margin: 0;
        font-weight: 700;
        font-size: 18px;
        color: var.$black;
      }
    }
    &__details {
      &__title {
        margin-bottom: 7px;
        font-size: 20px;
      }
      &__box {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        &__circle {
          width: 30px;
          height: 30px;
          border-radius: 50%;
          background-color: var.$expense;
          display: flex;
          justify-content: center;
          align-items: center;
          margin-right: 18px;
        }
        &__description {
          font-size: 15px;
          color: var.$black;
        }
      }
    }
  }
}

.income {
  background-color: var.$income;
}

.income-amount {
  color: var.$income;
}
