<header>
  <nav>
    <div class="container">
      <div class="navbar">
        <a routerLink="/" class="navbar__brand">Budgetify</a>
        <ul class="navbar__list">
          <li class="navbar__list__item">
            <a
              routerLink="/categories"
              routerLinkActive="active"
              class="navbar__list__item__link"
              >Categories</a
            >
          </li>
          <li class="navbar__list__item">
            <a
              routerLink="/subscriptions"
              routerLinkActive="active"
              class="navbar__list__item__link"
              >Subscription</a
            >
          </li>
          <li class="navbar__list__item">
            <a href="/" class="navbar__list__item__link">Obligatory</a>
          </li>
          <li class="navbar__list__item">
            <a href="/" class="navbar__list__item__link">Statistic</a>
          </li>
          <li class="navbar__list__item" *ngIf="user.role === 'ADMIN'">
            <a href="/" class="navbar__list__item__link">Admin</a>
          </li>
        </ul>
        <div class="navbar__profile" (click)="logout()">
          <img src="../../../assets/user.svg" alt="user profile" />
          <p class="navbar__profile__username">{{ fullName }}</p>
        </div>
      </div>
    </div>
  </nav>
</header>
