@use "src/variables" as var;

@import "~@angular/material/theming";
$custom-typography: mat-typography-config(
  $font-family: "Space Grotesk, sans-serif",
);
@include mat-core($custom-typography);
@import url("https://fonts.googleapis.com/css2?family=Alata&family=Space+Grotesk:wght@400;700&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  font-size: 16px;
}
body {
  font-family: "Space Grotesk", sans-serif;
}

// body [class^="mat-"],
// body [class*=" mat-"] {
//   font-family: "Space Grotesk", sans-serif !important;
// }

p {
  margin: 0 !important;
}

button {
  cursor: pointer;
  font-family: inherit;
  color: var.$black;
  border: none;
  background-color: transparent;
  &:disabled {
    cursor: not-allowed;
  }
}

.white-snack-bar {
  background: rgba(255, 255, 255, 0.8) !important;
  color: #000 !important;
}

.container {
  max-width: 1250px;
  width: 100%;
  margin: 0 auto;
}

img {
  display: block;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}
